<!DOCTYPE html>  
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta name = "csrf-token" content="<%= csrfToken %>" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script> 
    </head>
    <body> 
        <div class = "grid grid-cols-6">
            <div class = "col-start-3 col-span-2">  
                <%- include('header.ejs')%>
                <h6 class="py-4">Sign-up as a new user</h6>
                <p class="py-2 text-lg border-b-2 mb-2">Already have an account? <a href="/login" class="text-green-600 font-semibold hover:underline">Sign-in</a></p>
                <form action="/users" method= "post">
                    <input type = "hidden" name="_csrf" value="<%= csrfToken %>" required>
                    <div class = "py-3 " >
                    <label for="First Name">First Name:</label>
                    <input type = "text" name= "firstName" class = "border border-gray-400 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Last Name">Last Name:</label>
                    <input type = "text" name= "lastName" class = "border border-gray-400 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Email">Email:</label>
                    <input type = "email" name= "email" class = "border border-gray-400 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <label for="Password">Password:</label>
                    <input type = "password" name= "password" class = "border border-gray-400 text-gray-900 rounded p-4 w-full py-1" required>
                    </div>
                    <div class = "py-3 " >
                    <button type = "submit" class = "px-5 py-1.5 rounded background-color: bg-red-600 text-white font-medium mr-2 mb-2">Sign up</button>
                    </div>
                </form>
                <%- include ('footer.ejs') %>
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                      <p class="text-red-600 my-4" style="font-weight: 500;font-size:20px">! <%= messages.error[i] %></p>
                    <% } %>
                  <% } %>
            </div>
        </div>  
    </body>
</html>