<!-- <!DOCTYPE html>
<table> 
<% for(var i = 0; i< allTodos.length; i++) {%> 
        <tr>
            <td> 
                 <%= allTodos[i].title %> 
             </a> 
         </td> 
     </tr> 
     <% } %> 
 </table>
 </html> -->
 <table border="1" style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <td>ID</td>
        <td>Title</td>
        <td>DueDate</td>
        <td>Completed</td>
    </tr>
    <% for( var i = 0; i < all_Todos.length; i++) {%>
        <tr style="border: 1px solid black;">
            <td><%= all_Todos[i].id %></td>
            <td><%= all_Todos[i].title %></td>
            <td><%= all_Todos[i].duedate %></td>
            <td><%= all_Todos[i].completed %></td>
        </tr>
    <% } %>
</table>
